body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
  background-color: #f7f7f7;
}

.top-container{
  background-color: #e1f2fb;
  position: relative;
  padding-top: 100px;



}
h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #66BFBF;
  padding-bottom: 10px;

}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAf6f6;

}

hr{
  border: dotted #EAF6F6 6px ;
  border-bottom: none;
  width:4%;
  margin: 100px auto;

  height: 0;
}
p{
    line-height: 2;
}
.middle-container{
margin: 100px 0;
}
.bottom-container{
background-color: #66BFBF;
padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud{
  position: absolute;
  top:300px;
  left:130px;
}
.top-cloud{
  position: absolute;
  right:300px;
  top: 180px;
}

.self{
border : 5px;
}

.sub-heading{
  font-weight: normal;
}

.skill-row{
  width: 50%;
margin: 100px auto 100px auto;
text-align: left;


}

.basketball-img{
  width:20%;
  float: left;
  margin-right: 30px;

}

.python-img{
  border-radius: 50%;
  width:20%;
  float: right;
  margin-left: 30px;
}

.extra{  width: 50%;
margin: 150px auto 100px auto;


}
.testbutton {
  font-family: 'Montserrat', sans-serif;
  color: #14396A !important;
  font-size: 14px;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 10px 25px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #3866A3;
  background: #63B8EE;
  background: linear-gradient(top,  #11CDD4,  #11999E);
  background: -ms-linear-gradient(top,  #11CDD4,  #11999E);
  background: -webkit-gradient(linear, left top, left bottom, from(#11CDD4), to(#11999E));
  background: -moz-linear-gradient(top,  #11CDD4,  #11999E);
}
.testbutton:hover {
  color: #14396A !important;
  background: #468CCF;
  background: linear-gradient(top,  #30E3CB,  #2bc4ad);
  background: -ms-linear-gradient(top,  #30E3CB,  #2bc4ad);
  background: -webkit-gradient(linear, left top, left bottom, from(#30E3CB), to(#2bc4ad));
  background: -moz-linear-gradient(top,  #30E3CB,  #2bc4ad);
}

.copyright{
  color: #EAF6F6;
  font-size: .75rem;
  padding: 20px 0;

}

.intro{
  width: 27%;
  margin: auto;
}

.contact-message{
  width: 20%;
  margin: 40px auto 60px;
}
